{% extends "_base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>DocJS Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% for filename, catalog in filenames.iteritems() %}
            <div id="file-{{ loop.index }}" >
                <div class="page-header">
                    <h1><code>{{filename}}</code></h1>
                </div>
                {% for catalog in catalog.catalogs recursive %}
                {% if catalog.pointers or catalog.catalogs %}
                <div class="catalog">
                    {% if loop.depth == 1 %}
                    <h{{loop.depth + 1}} id="{{ catalog.name }}">
                      {{ catalog.name }}
                      {% if catalog.parent %}
                      <: {{ catalog.parent }}
                      {% endif %}
                    </h{{loop.depth}}>
                    {% else %}
                    <h{{loop.depth}}>
                      {{ catalog.name }}
                      {% if catalog.parent %}
                      <: {{ catalog.parent }}
                      {% endif %}
                    </h{{loop.depth}}>
                    {% endif %}
                    {% if catalog.pointers %}
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for _, pointer in catalog.pointers.iteritems() %}
                            <tr>
                                <td>{{ pointer.name }}</td>
                                <td><code>{{filename}}:{{ pointer.loc.start.line }}</code></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {{ loop(catalog.catalogs) }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3" role="complementary">
            <div class="navbar affix-top">
                <ul id="nav" class="nav nav-pills nav-stacked">
                {% for filename, _ in filenames.iteritems() %}
                {% if loop.first %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="#file-{{ loop.index }}">{{ filename }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
$(function() {
    $(":header").click(function() {
        var siblings;
        $(this).toggleClass("content-hidden");
        if ($(this).parent().is(".page-header")) {
            siblings = $(this).parent().siblings();
        } else {
            siblings = $(this).siblings();
        }
        siblings.toggle();
    });
    var top = $('#nav').offset().top;
    $('#nav').affix({
        offset: {
            top: top
        }
    });
    $('body').scrollspy({ target: '.navbar' })
});
</script>
{% endblock %}
