<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link href="vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/css/screen.css" rel="stylesheet" media="screen">
        <link href="static/css/print.css" rel="stylesheet" media="print">
        
    </head>
    <body>
        
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>DocJS Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            
            <div id="file-1" >
                <div class="page-header">
                    <h1><code>analysis/targets/singleton.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="Singletons">
                      Singletons
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      instance
                      
                    </h2>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h3>
                      Private Methods
                      
                    </h3>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>init</td>
                                <td><code>analysis/targets/singleton.js:6</code></td>
                            </tr>
                        
                            <tr>
                                <td>privateMethod</td>
                                <td><code>analysis/targets/singleton.js:9</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                
                <div class="catalog">
                    
                    <h3>
                      Public Methods
                      
                    </h3>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>publicMethod</td>
                                <td><code>analysis/targets/singleton.js:18</code></td>
                            </tr>
                        
                            <tr>
                                <td>getRandomNumber</td>
                                <td><code>analysis/targets/singleton.js:24</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                
                <div class="catalog">
                    
                    <h3>
                      Private Properties
                      
                    </h3>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>privateVariable</td>
                                <td><code>analysis/targets/singleton.js:13</code></td>
                            </tr>
                        
                            <tr>
                                <td>privateRandomNumber</td>
                                <td><code>analysis/targets/singleton.js:14</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                
                <div class="catalog">
                    
                    <h3>
                      Public Properties
                      
                    </h3>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>publicProperty</td>
                                <td><code>analysis/targets/singleton.js:22</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
                </div>
                
                
                
                <div class="catalog">
                    
                    <h2 id="mySingleton">
                      mySingleton
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>getInstance</td>
                                <td><code>analysis/targets/singleton.js:33</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-2" >
                <div class="page-header">
                    <h1><code>analysis/targets/classes.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="Game">
                      Game
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      methods
                      
                    </h2>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>#toString</td>
                                <td><code>analysis/targets/classes.js:7</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
                
                
                
                <div class="catalog">
                    
                    <h2 id="Jigsaw">
                      Jigsaw
                      
                      <: Puzzle
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      properties
                      
                    </h2>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>type</td>
                                <td><code>analysis/targets/classes.js:28</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
                
                <div class="catalog">
                    
                    <h2 id="Poker">
                      Poker
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      properties
                      
                    </h2>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>type</td>
                                <td><code>analysis/targets/classes.js:36</code></td>
                            </tr>
                        
                            <tr>
                                <td>description</td>
                                <td><code>analysis/targets/classes.js:37</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
                
                <div class="catalog">
                    
                    <h2 id="VideoGame">
                      VideoGame
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      properties
                      
                    </h2>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>type</td>
                                <td><code>analysis/targets/classes.js:42</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
            </div>
            
            <div id="file-3" >
                <div class="page-header">
                    <h1><code>analysis/targets/decorator.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="decorators">
                      decorators
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>fib</td>
                                <td><code>analysis/targets/decorator.js:28</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-4" >
                <div class="page-header">
                    <h1><code>analysis/targets/cucumber.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="Cucumber">
                      Cucumber
                      
                    </h1>
                    
                    
                    
                
                <div class="catalog">
                    
                    <h2>
                      properties
                      
                    </h2>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>color</td>
                                <td><code>analysis/targets/cucumber.js:9</code></td>
                            </tr>
                        
                            <tr>
                                <td>length</td>
                                <td><code>analysis/targets/cucumber.js:10</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
                </div>
                
                
            </div>
            
            <div id="file-5" >
                <div class="page-header">
                    <h1><code>analysis/targets/ember/todomvc/js/app.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="decorators">
                      decorators
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td></td>
                                <td><code>analysis/targets/ember/todomvc/js/app.js:4</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-6" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/namespacing.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="myNamespace">
                      myNamespace
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>myPublicFunction</td>
                                <td><code>analysis/targets/modules/namespacing.js:19</code></td>
                            </tr>
                        
                            <tr>
                                <td>myPublicVar</td>
                                <td><code>analysis/targets/modules/namespacing.js:16</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-7" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/mixinModule.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="myModule">
                      myModule
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>publicMethod</td>
                                <td><code>analysis/targets/modules/mixinModule.js:13</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-8" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/revealingModule.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="myRevealingModule">
                      myRevealingModule
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>getName</td>
                                <td><code>analysis/targets/modules/revealingModule.js:14</code></td>
                            </tr>
                        
                            <tr>
                                <td>greeting</td>
                                <td><code>analysis/targets/modules/revealingModule.js:3</code></td>
                            </tr>
                        
                            <tr>
                                <td>setName</td>
                                <td><code>analysis/targets/modules/revealingModule.js:10</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-9" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/counterModule.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="testModule">
                      testModule
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>incrementCounter</td>
                                <td><code>analysis/targets/modules/counterModule.js:7</code></td>
                            </tr>
                        
                            <tr>
                                <td>resetCounter</td>
                                <td><code>analysis/targets/modules/counterModule.js:11</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-10" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/basketModule.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="basketModule">
                      basketModule
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>getItemCount</td>
                                <td><code>analysis/targets/modules/basketModule.js:24</code></td>
                            </tr>
                        
                            <tr>
                                <td>addItem</td>
                                <td><code>analysis/targets/modules/basketModule.js:19</code></td>
                            </tr>
                        
                            <tr>
                                <td>getTotal</td>
                                <td><code>analysis/targets/modules/basketModule.js:32</code></td>
                            </tr>
                        
                            <tr>
                                <td>doSomething</td>
                                <td><code>analysis/targets/modules/basketModule.js:7</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
            <div id="file-11" >
                <div class="page-header">
                    <h1><code>analysis/targets/modules/exportModule.js</code></h1>
                </div>
                
                
                <div class="catalog">
                    
                    <h2 id="myModule">
                      myModule
                      
                    </h1>
                    
                    
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col class="col-xs-6">
                            <col class="col-xs-6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>publicMethod</td>
                                <td><code>analysis/targets/modules/exportModule.js:14</code></td>
                            </tr>
                        
                            <tr>
                                <td>publicProperty</td>
                                <td><code>analysis/targets/modules/exportModule.js:13</code></td>
                            </tr>
                        
                            <tr>
                                <td>publicMethod2</td>
                                <td><code>analysis/targets/modules/exportModule.js:18</code></td>
                            </tr>
                        
                        </tbody>
                    </table>
                    
                    
                </div>
                
                
            </div>
            
        </div>
        <div class="col-md-3" role="complementary">
            <div class="navbar affix-top">
                <ul id="nav" class="nav nav-pills nav-stacked">
                
                
                <li class="active">
                
                <a href="#file-1">analysis/targets/singleton.js</a></li>
                
                
                <li>
                
                <a href="#file-2">analysis/targets/classes.js</a></li>
                
                
                <li>
                
                <a href="#file-3">analysis/targets/decorator.js</a></li>
                
                
                <li>
                
                <a href="#file-4">analysis/targets/cucumber.js</a></li>
                
                
                <li>
                
                <a href="#file-5">analysis/targets/ember/todomvc/js/app.js</a></li>
                
                
                <li>
                
                <a href="#file-6">analysis/targets/modules/namespacing.js</a></li>
                
                
                <li>
                
                <a href="#file-7">analysis/targets/modules/mixinModule.js</a></li>
                
                
                <li>
                
                <a href="#file-8">analysis/targets/modules/revealingModule.js</a></li>
                
                
                <li>
                
                <a href="#file-9">analysis/targets/modules/counterModule.js</a></li>
                
                
                <li>
                
                <a href="#file-10">analysis/targets/modules/basketModule.js</a></li>
                
                
                <li>
                
                <a href="#file-11">analysis/targets/modules/exportModule.js</a></li>
                
                </ul>
            </div>
        </div>
    </div>
</div>

        

        <script src="vendor/jquery-1.11.0.min.js"></script>
        <script src="vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
        
<script type="text/javascript">
$(function() {
    $(":header").click(function() {
        var siblings;
        $(this).toggleClass("content-hidden");
        if ($(this).parent().is(".page-header")) {
            siblings = $(this).parent().siblings();
        } else {
            siblings = $(this).siblings();
        }
        siblings.toggle();
    });
    var top = $('#nav').offset().top;
    $('#nav').affix({
        offset: {
            top: top
        }
    });
    $('body').scrollspy({ target: '.navbar' })
});
</script>

    </body>
</html>